[Unit]
Description=Monitor plants and water them when needed

[Service]
ExecStart=/usr/bin/python3 /home/pi/programs/pythonProjects/PlantMonitorPi/monitor.py
WorkingDirectory=/home/pi/programs/pythonPrograms/PlantMonitor

[Install]
WantedBy=multi-user.target